
<div class="container p-4 m-4 outline-dashed">
  <div class="grid grid-cols-6 gap-4 outline-dotted">

    <div class="col-start-2 col-span-4 outline-dashed">
       <div class="mx-auto max-w-2xl text-center outline-dashed">
        <h2 class="text-4xl font-bold tracking-tight text-gray-900 sm:text-6xl">Tasks for <%= @cause.name %></h2>
        <p class="mt-6 text-lg leading-8 text-gray-600"><%= @cause.description %></p>
      </div>
    </div>

    <div class="col-start-1 col-end-4 outline-dashed">
     <!----- Task filter ------->
      <%= render "shared/task_filter" %>
    <!----- Task filter ------->

      <%= form_with url: add_tasks_user_path(current_user), method: :post do |form| %>
      <div class="bg-white p-2 outline-dashed">
        <div class="mx-auto max-w-2xl text-left outline-dashed">
          <% @tasks.each do |task| %>
            <div class="divide-y divide-gray-200 m-4 p-4 overflow-hidden rounded-lg bg-gray-200 shadow sm:grid sm:grid-cols-1 sm:gap-px sm:divide-y-0">
              <div class="rounded-tl-lg rounded-tr-lg sm:rounded-tr-none relative group bg-white p-6 focus-within:ring-2 focus-within:ring-inset focus-within:ring-emerald-500">
                <div>
                  <%= check_box_tag 'task_ids[]', task.id, false, class: "h-8 w-8 rounded border-gray-300 text-emerald-600 focus:ring-emerald-500" %>
                </div>
                <!-- The rest of your code here -->
                <div class="mt-8">
                <h3 class="text-lg font-medium">
                    <!-- Extend touch target to entire panel -->
                    <!-- <span class="absolute inset-0" aria-hidden="true"></span> -->
                    <%= task.name %>
                </h3>
                <p class="mt-2 text-sm text-gray-500"><%= task.content %></p>
                <p class="mt-2 text-sm text-gray-500"><%= task.time %> minutes</p>
             </div>

              <span class="absolute top-6 right-6 text-gray-300 group-hover:text-gray-400" aria-hidden="true">
              <%= link_to task.url, target: "_blank" do %>
                <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24">
                  <path d="M20 4h1a1 1 0 00-1-1v1zm-1 12a1 1 0 102 0h-2zM8 3a1 1 0 000 2V3zM3.293 19.293a1 1 0 101.414 1.414l-1.414-1.414zM19 4v12h2V4h-2zm1-1H8v2h12V3zm-.707.293l-16 16 1.414 1.414 16-16-1.414-1.414z" />
                </svg>
              <% end %>
              </span>

              </div>
            </div>
          <% end %>
          <div class="container p-2 m-2">
            <%= form.submit 'Save', class: "inline-flex items-center rounded-md border border-transparent bg-emerald-300 px-8 py-3 text-base font-medium text-white hover:bg-emerald-400 md:py-4 md:px-10 md:text-lg" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>



    <div class="col-end-7 col-span-3  outline-dashed">
     <div class="p-4 m-4">
      <%= cl_image_tag @cause.photo.key, :gravity=>"cld-decompose_tile", :crop=>"crop" %>
     </div>
      <div class="container p-4 m-2">

        <ul role="list" class="divide-y divide-gray-200">
          <h1 class="text-lg text-center"> Notable Organizations </h1>
          <li class="px-4 py-4 sm:px-0">
            <p> Notable organizations</p>
          </li>
          <li class="px-4 py-4 sm:px-0">
            <p> Notable organizations</p>
          </li>
          <li class="px-4 py-4 sm:px-0">
            <p> Notable organizations</p>
          </li>
          <li class="px-4 py-4 sm:px-0">
            <p> Notable organizations</p>
          </li>
        </ul>
      </div>

  </div>
    <div class="col-start-1 col-end-7 outline-dashed">
       <div class="container p-2 m-2">
        <%= link_to "Go back", cause_path(@cause), class: "inline-flex items-center rounded-md border border-transparent bg-emerald-300 px-8 py-3 text-base font-medium text-white hover:bg-emerald-400 md:py-4 md:px-10 md:text-lg" %>
      </div>
    </div>
</div>







