
<!-- CAUSES -->
<div class="bg-white">
  <div class="mx-auto max-w-7xl py-12 px-6 lg:px-8 lg:py-24">
    <div class="space-y-12">
      <div class="space-y-5 sm:space-y-4 md:max-w-xl lg:max-w-3xl xl:max-w-none">
        <h2 class="text-3xl font-bold tracking-tight sm:text-4xl">Step 1. Choose a Cause </h2>
        <p class="text-xl text-gray-500">Select a cause or multiple cause that you want to help. You can add them to your dashboard. New causes are added weekly.</p>
      </div>
      <ul role="list" class="space-y-12 sm:grid sm:grid-cols-2 sm:gap-x-6 sm:gap-y-12 sm:space-y-0 lg:grid-cols-3 lg:gap-x-8">
      <% @causes.each do |cause| %>
        <li>
          <div class="space-y-4">
            <div class="aspect-w-3 aspect-h-2">
               <% if cause.photo.attached? %>
                <%= cl_image_tag cause.photo.key, class: "rounded-lg  shadow-lg", :gravity=>"cld-decompose_tile", :crop=>"crop" %>
               <% else %>
                <%= image_tag "12.png", class: "rounded-lg  shadow-lg" %>
              <% end %>
            </div>
            <div class="space-y-2">
              <div class="space-y-1 text-lg font-medium leading-6">
                <h3><%= cause.name %></h3>
                <p class="text-gray-500"><%= cause.description %></p>
              </div>
              <% end %>
            </div>
          </div>
        </li>
      </ul>


<!-- TIME -->
      <div class="space-y-5 sm:space-y-4 md:max-w-xl lg:max-w-3xl xl:max-w-none">
        <h2 class="text-3xl font-bold tracking-tight sm:text-4xl">Step 2.  How much time do you have? </h2>
        <p class="text-xl text-gray-500">We know you're busy that's why we have created actionable tasks that are dividing into durations so you can complete a task in the time you have.</p>
      </div>

      <div>
        <ul role="list" class="mt-3 grid grid-cols-1 gap-5 sm:grid-cols-2 sm:gap-6 lg:grid-cols-4">
          <li class="col-span-1 flex rounded-md shadow-sm">
            <div class="flex-shrink-0 flex items-center justify-center w-16 bg-emerald-100 text-black text-sm font-medium rounded-l-md">
              <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" d="M12 6v6h4.5m4.5 0a9 9 0 11-18 0 9 9 0 0118 0z" />
              </svg>
            </div>
            <div class="flex flex-1 items-center justify-between truncate rounded-r-md border-t border-r border-b border-gray-200 bg-white">
              <div class="flex-1 truncate px-4 py-2 text-sm">
                <a href="#" class="font-medium text-gray-900 hover:text-gray-600">5 minutes</a>
                <p class="text-gray-500">I don't have much time</p>
              </div>
              <div class="flex-shrink-0 pr-2">
                <button type="button" class="inline-flex h-8 w-8 items-center justify-center rounded-full bg-white bg-transparent text-gray-400 hover:text-gray-500 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2">
                </button>
              </div>
            </div>
          </li>

          <li class="col-span-1 flex rounded-md shadow-sm">
           <div class="flex-shrink-0 flex items-center justify-center w-16 bg-emerald-100 text-black text-sm font-medium rounded-l-md">
              <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" d="M12 6v6h4.5m4.5 0a9 9 0 11-18 0 9 9 0 0118 0z" />
              </svg>
            </div>
            <div class="flex flex-1 items-center justify-between truncate rounded-r-md border-t border-r border-b border-gray-200 bg-white">
              <div class="flex-1 truncate px-4 py-2 text-sm">
                <a href="#" class="font-medium text-gray-900 hover:text-gray-600">10 minutes</a>
                <p class="text-gray-500">I have a little time</p>
              </div>
              <div class="flex-shrink-0 pr-2">
                <button type="button" class="inline-flex h-8 w-8 items-center justify-center rounded-full bg-white bg-transparent text-gray-400 hover:text-gray-500 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2">
                </button>
              </div>
            </div>
          </li>

          <li class="col-span-1 flex rounded-md shadow-sm">
          <div class="flex-shrink-0 flex items-center justify-center w-16 bg-emerald-100 text-black text-sm font-medium rounded-l-md">
              <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" d="M12 6v6h4.5m4.5 0a9 9 0 11-18 0 9 9 0 0118 0z" />
              </svg>
            </div>
            <div class="flex flex-1 items-center justify-between truncate rounded-r-md border-t border-r border-b border-gray-200 bg-white">
              <div class="flex-1 truncate px-4 py-2 text-sm">
                <a href="#" class="font-medium text-gray-900 hover:text-gray-600">30 minutes</a>
                <p class="text-gray-500">I have some time</p>
              </div>
              <div class="flex-shrink-0 pr-2">
                <button type="button" class="inline-flex h-8 w-8 items-center justify-center rounded-full bg-white bg-transparent text-gray-400 hover:text-gray-500 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2">
                </button>
              </div>
            </div>
          </li>

          <li class="col-span-1 flex rounded-md shadow-sm">
            <div class="flex-shrink-0 flex items-center justify-center w-16 bg-emerald-100 text-black text-sm font-medium rounded-l-md">
              <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" d="M12 6v6h4.5m4.5 0a9 9 0 11-18 0 9 9 0 0118 0z" />
              </svg>
            </div>
            <div class="flex flex-1 items-center justify-between truncate rounded-r-md border-t border-r border-b border-gray-200 bg-white">
              <div class="flex-1 truncate px-4 py-2 text-sm">
                <a href="#" class="font-medium text-gray-900 hover:text-gray-600">60 minutes</a>
                <p class="text-gray-500">I have an hour, let's do it</p>
              </div>
              <div class="flex-shrink-0 pr-2">
                <button type="button" class="inline-flex h-8 w-8 items-center justify-center rounded-full bg-white bg-transparent text-gray-400 hover:text-gray-500 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2">
                </button>
              </div>
            </div>
          </li>
        </ul>
      </div>
      <div class="container flex p-2 items-center">
        <%= link_to "Get started", causes_path, class: "inline-flex items-center rounded-md border border-transparent bg-emerald-300 px-8 py-3 text-base font-medium text-white hover:bg-emerald-400 md:py-4 md:px-10 md:text-lg" %>
      </div>
    </div>
  </div>
</div>
