<%= form_with url: cause_tasks_path(@cause), method: :get do |form| %>
  <fieldset>
    <legend class="block font-medium">Time</legend>
    <div class="space-y-6 pt-6 sm:space-y-4 sm:pt-4">
      <div class="flex items-center text-base sm:text-sm">
        <%= radio_button_tag 'max_time', 5 %>
        <%= label_tag 'max_time_5', '5 minutes', class: "ml-3 min-w-0 flex-1 text-gray-600" %>
      </div>

      <div class="flex items-center text-base sm:text-sm">
        <%= radio_button_tag 'max_time', 10 %>
        <%= label_tag 'max_time_10', '10 minutes', class: "ml-3 min-w-0 flex-1 text-gray-600" %>
      </div>

      <div class="flex items-center text-base sm:text-sm">
        <%= radio_button_tag 'max_time', 30 %>
        <%= label_tag 'max_time_30', '30 minutes', class: "ml-3 min-w-0 flex-1 text-gray-600" %>
      </div>

      <div class="flex items-center text-base sm:text-sm">
        <%= radio_button_tag 'max_time', 60 %>
        <%= label_tag 'max_time_60', '60 minutes', class: "ml-3 min-w-0 flex-1 text-gray-600" %>
      </div>
    </div>
  </fieldset>
  <%= form.submit 'Filter' %>
<% end %>


