<div class="bg-white">
  <div class="mx-auto max-w-7xl py-16 px-6 sm:py-24 lg:px-8">
    <div class="text-center">
      <h2 class="text-lg font-semibold text-emerald-300">What we do </h2>
      <p class="mt-1 text-3xl font-bold tracking-tight text-gray-900 sm:text-3xl lg:text-5xl">We map trending hashtags <br>to actionable resources.</p>
      <p class="mx-auto mt-5 max-w-xl text-xl text-gray-500">Start using our app to be the change you want to see in the world. One person may not be able to do much but collectively, harnesing the power of online activism, we act as one.</p>
    </div>
  </div>
</div>


<div class="relative overflow-hidden bg-white">
  <div class="pt-16 pb-80 sm:pt-24 sm:pb-40 lg:pt-40 lg:pb-48">
    <div class="relative mx-auto max-w-7xl px-4 sm:static sm:px-6 lg:px-8">
      <div class="sm:max-w-lg">
        <div class="flex p-2 m-2">
          <div class="mr-4 flex-shrink-0">
           <i class="fa-thin fa-2x fa-1"></i>
          </div>
          <div>
            <h4 class="text-lg font-bold">Chose your cause</h4>
            <p class="mt-1">Repudiandae sint consequuntur vel. Amet ut nobis explicabo numquam expedita quia omnis voluptatem. Minus quidem ipsam quia iusto.</p>
          </div>
        </div>
        <div class="flex p-2 m-2">
          <div class="mr-4 flex-shrink-0">
             <!--  svg -->
               <i class="fa-thin fa-2x fa-2"></i>
              </div>
               <!--  svg -->
          <div>
            <h4 class="text-lg font-bold">Select how much time you have</h4>
            <p class="mt-1">Repudiandae sint consequuntur vel. Amet ut nobis explicabo numquam expedita quia omnis voluptatem. Minus quidem ipsam quia iusto.</p>
          </div>
        </div>
        <div class="flex p-2 m-2">
          <div class="mr-4 flex-shrink-0">
            <i class="fa-thin fa-2x fa-3"></i>
          </div>
          <div>
            <h4 class="text-lg font-bold">Complete your tasks</h4>
            <p class="mt-1">Repudiandae sint consequuntur vel. Amet ut nobis explicabo numquam expedita quia omnis voluptatem. Minus quidem ipsam quia iusto.</p>
          </div>
        </div>
         <div class="flex p-2 m-2">
          <div class="mr-4 flex-shrink-0">
            <i class="fa-thin fa-2x fa-4"></i>
          </div>
          <div>
            <h4 class="text-lg font-bold">See the change in real time</h4>
            <p class="mt-1">Repudiandae sint consequuntur vel. Amet ut nobis explicabo numquam expedita quia omnis voluptatem. Minus quidem ipsam quia iusto.</p>
          </div>
        </div>

      </div>
      <div>
        <div class="mt-10">
          <!-- Decorative image grid -->
          <div aria-hidden="true" class="pointer-events-none lg:absolute lg:inset-y-0 lg:mx-auto lg:w-full lg:max-w-7xl">
            <div class="absolute transform sm:left-1/2 sm:top-0 sm:translate-x-8 lg:left-1/2 lg:top-1/2 lg:-translate-y-1/2 lg:translate-x-8">
              <div class="flex items-center space-x-6 lg:space-x-8">
                <div class="grid flex-shrink-0 grid-cols-1 gap-y-6 lg:gap-y-8">
                  <div class="h-64 w-44 overflow-hidden rounded-lg sm:opacity-0 lg:opacity-100">
                    <%= image_tag "greta.jpg", class:"h-full w-full object-cover object-center" %>
                  </div>
                  <div class="h-64 w-44 overflow-hidden rounded-lg">
                    <%= image_tag "blmsign.jpg", class:"h-full w-full object-cover object-center" %>
                  </div>
                </div>
                <div class="grid flex-shrink-0 grid-cols-1 gap-y-6 lg:gap-y-8">
                  <div class="h-64 w-44 overflow-hidden rounded-lg">
                    <%= image_tag "womensrights.jpg", class:"h-full w-full object-cover object-center" %>
                  </div>
                  <div class="h-64 w-44 overflow-hidden rounded-lg">
                    <%= image_tag "loveislove.jpg", class:"h-full w-full object-cover object-center" %>
                  </div>
                  <div class="h-64 w-44 overflow-hidden rounded-lg">
                    <%= image_tag "ukraine.png", class:"h-full w-full object-cover object-center" %>
                  </div>
                </div>
                <div class="grid flex-shrink-0 grid-cols-1 gap-y-6 lg:gap-y-8">
                  <div class="h-64 w-44 overflow-hidden rounded-lg">
                    <%= image_tag "blmsign.jpg", class:"h-full w-full object-cover object-center" %>
                  </div>
                  <div class="h-64 w-44 overflow-hidden rounded-lg">
                    <%= image_tag "greta.jpg", class:"h-full w-full object-cover object-center" %>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <%= link_to "Take Action", causes_path, class: "inline-block rounded-md border border-transparent bg-emerald-100 py-3 px-8 text-center font-medium text-emerald-300 hover:bg-emerald-200" %>
        </div>
      </div>
    </div>
  </div>
</div>



